body, 
html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding: 0;
}

/* to remove later */
.container > * {
    border: 1px solid red;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-row: 1 / 3;
}

.sidebar > * {
    margin-bottom: 80px;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search-box {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 10px
}

.user-notification {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 15px;
}

.user-profile {
    display: flex;
    align-self: center;
    margin-left: 40px;
    gap: 10px
}

.action-buttons {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 40px;
}